*{
	transition: 0.4s;
}
body{
    background:#FCDBD4;
    font-family:arial;
    margin:0;
    padding: 0;
}

.accueil1 {
    height: 100vh;
    width: 100%;
    background: rgb(255, 159, 159);
    
}

.accueil2 {
    height: 100vh;
    width: 100%;
    background: rgb(196, 255, 252);
    
}

.accueil3 {
    height: 100vh;
    width: 100%;
    background: rgb(255, 159, 239);
    
}

.accueil4 {
    height: 100vh;
    width: 100%;
    background: rgb(213, 255, 211);
    
}

.accueil5 {
    height: 100vh;
    width: 100%;
    background: rgb(255, 165, 129);
    
}

input {
    margin-top: 100px;
    height: 200px;
    width: 50%;
}

.container {
    text-align: center;

    
}

.boutons {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0 auto;
}

.test {
    margin-top: 80vh;
    width: 20%;
    height: 30px;
    border-radius: 20px;
    background:rgb(255, 159, 239);
}


